<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
  <header class="header">
    <div class="container">
      <div class="logo">
        <a href="/" th:text="'Mixology Map'"></a>
      </div>
      <nav class="navigation">
        <a href="/home/results">Drinks</a>
        <a href="/home/favourites">Favourites</a>
        <a href="/home/guests">Guests</a>
        <a href="/home/parties">Parties</a>
      </nav>
      <div class="auth-section">
        <!-- Dropdown Menu for Logged-in User -->
        <div th:if="${session.user != null}" class="user-menu">
          <div class="menu-name" th:text="${session.user}"></div>
          <div class="dropdown">
            <a href="/home/parties">Parties</a>
            <a href="/home/favourites">Favourites</a>
            <a href="/home/guests">Guests</a>
            <a href="/logout">Log out</a>
          </div>
        </div>

        <!-- Login/Register Buttons -->
        <div th:if="${session.user == null}">
          <a href="/login" class="btn login-btn">Login</a>
          <a href="/register" class="btn register-btn">Register</a>
        </div>
      </div>
    </div>
  </header>
</div>
</body>
</html>
